/* ;
font-family: 'Ribeye', cursive; */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	max-width: 100%;
	display: block;
}

.btn {
	background: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}

.bg-orang {
	background: #c9453b;
	border-radius: 5px;
	font-size: 16px;
	line-height: 24px;
	color: #fff;
}

.ff-gelassio {
	font-family: Gelasio, serif;
	font-weight: 500;
}

.inner-title {
	font-size: 43px;
	line-height: 60px;
	text-align: center;
	margin-bottom: 20px;
}

.inner-subtitle {
	opacity: 0.6;
	text-align: center;
}

.body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 29px;
	color: #fff;
}

.overlay {
	overflow-y: hidden;
}

.header {
	background: rgba(0, 0, 0, 0.3) url(../images/header-bg.jpg) no-repeat center;
	background-size: cover;
	padding: 35px 0 244px 0;
}

.container {
	max-width: 1145px;
	margin: 0 auto;
}

.header-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
}

.menu {
	display: flex;
	justify-content: center;
}

.menu-list + .menu-list {
	margin-left: 50px;
}

.header-logo {
	font-family: 'Ribeye', cursive;
	font-size: 24px;
	line-height: 36px;
	letter-spacing: 0.06em;
}

.header-btn,
.mobile_btn {
	display: block;
	width: 163px;
	padding: 14px 0 13px 0;
	text-align: center;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}

.mobile_btn {
	display: none;
}

.header-btn:hover {
	opacity: 0.8;
}

.mibile-menu {
	display: none;
	position: relative;
	width: 60px;
	z-index: 4;
	height: 40px;
	cursor: pointer;
}

.mibile-menu span {
	position: absolute;
	left: 0;
	right: 0;
	height: 2px;
	background: #c9453b;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}

.mibile-menu span:last-child {
	bottom: 0;
}

.mibile-menu span:first-child.active,
.mibile-menu span:last-child.active {
	opacity: 0;
}

.mibile-menu span:nth-child(2),
.mibile-menu span:nth-child(3) {
	top: 50%;
}

.mibile-menu span:nth-child(2).active {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
}

.mibile-menu span:nth-child(3).active {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
}

.header-bottom {
	margin-top: 200px;
}

.header-bottom-title {
	font-family: 'Gelasio', serif;
	font-weight: 700;
	font-size: 65px;
	line-height: 78px;
	color: #fff;
	width: 820px;
}

.header-bottom-text {
	color: #fff;
	opacity: 0.6;
	width: 360px;
	margin: 40px 0 30px 0;
}

.header-bottom-link {
	display: block;
	width: 187px;
	padding: 18px 0 17px 0;
	text-align: center;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}

.header-bottom-link:hover {
	opacity: 0.8;
}

/* section location */

.location {
	padding: 140px 0;
}

.location-subtitle {
	width: 735px;
	margin: 0 auto;
}

.location-wrapper {
	display: flex;
	margin-top: 20px;
	justify-content: space-between;
}

.location-block {
	width: 300px;
	text-align: center;
	background: #fff;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	cursor: pointer;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
}
.location-block:hover {
	box-shadow: 0px 6px 35px 0px rgba(0, 0, 0, 0.08);
}

.location-block-title {
	font-size: 24px;
	line-height: 36px;
	margin: 35px 0 10px 0;
}

.location-block:first-child .location-block-text {
	padding: 0 27px 33px 27px;
	opacity: 0.6;
}

.location-block:nth-child(2) .location-block-text {
	padding: 0 34px 33px 37px;
	opacity: 0.6;
}

.location-block:last-child .location-block-text {
	padding: 0 13px 33px 13px;
	opacity: 0.6;
}

/* section slider */

.slider {
	padding-bottom: 57px;
}

.slider-subtitle {
	max-width: 656px;
	margin: 0 auto 60px auto;
}

.sliders {
	display: flex;
}

.sliders_block-wrap {
	width: 200px;
	margin: 0 auto;
	cursor: pointer;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
}

.sliders_block-wrap:hover {
	opacity: 0.5;
}

.sliders_block-title {
	font-size: 24px;
	line-height: 36px;
	margin: 20px 0 8px 0;
}

.sliders_block-loc {
	padding-left: 21px;
	color: #00000060;
	position: relative;
}

.sliders_block-loc::before {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 11px;
	height: 16px;
	background: url(../images/loc.svg) no-repeat center;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}

.sliders_block-star {
	padding-left: 34px;
	background: url(../images/star.svg) no-repeat left center;
	margin-left: 50px;
}

.sliders_block-boking {
	margin: 8px 0 8px 0;
	color: #00000060;
}

.sliders_block-price {
	font-weight: 500;
}

.sliders_block-price span {
	font-weight: 400;
	color: #00000060;
	font-size: 16px;
	line-height: 24px;
}

.btn-slider {
	position: absolute;
	z-index: 10;
}

.btn-slick-prev {
	left: 29%;
	bottom: -55px;
}

.btn-slick-next {
	left: 71%;
	bottom: -55px;
}

.slick-dots {
	position: absolute;
	display: flex;
	bottom: -52px;
	left: 50%;
	transform: translate(-50%);
	-webkit-transform: translate(-50%);
	-moz-transform: translate(-50%);
	-ms-transform: translate(-50%);
	-o-transform: translate(-50%);
}

.slick-dots li {
	background: rgb(246, 230, 208);
	font-size: 0;
	line-height: 0;
	border-radius: 10px;
	width: 75px;
	height: 5px;
	transition: 0.4s;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-ms-transition: 0.4s;
	-o-transition: 0.4s;
}

.slick-dots li.slick-active {
	background: rgb(187, 110, 10);
}

.slick-dots li:not(:last-child) {
	margin-right: 5px;
}

.slick-dots li button {
	font-size: 0;
	line-height: 0;
	border: none;
	background: rgba(201, 69, 59, 0.01);
	width: 75px;
	height: 5px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

/* section news  */

.news {
	padding: 140px 0 140px 0;
}

.news-subtitle {
	width: 581px;
	margin: 0 auto 56px auto;
}

.news__wrapper {
	display: flex;
	justify-content: space-between;
}

.news__left {
	width: 554px;
}

.news__left-title {
	font-size: 20px;
	line-height: 32px;
	margin: 35px 0 10px 0;
}

.news__left-text {
	color: #00000060;
	margin-bottom: 10px;
}

.news__left-link {
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
}

.news__right {
	width: 539px;
}

.news__right-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.news__right-wrapper:not(:last-child) {
	margin-bottom: 30px;
}

.news__right-img {
	width: 263px;
}

.news__right-content {
	width: 247px;
}

.news__right-title {
	font-size: 20px;
	line-height: 30px;
}

.news__right-text {
	color: #00000060;
	margin: 10px 0 8px 0;
}

.news__right-link {
	color: #00000080;
}

/*  FOOTER */

.footer {
	background: #2694990a;
	padding: 70px 0 78px 0;
}

.footer__wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	row-gap: 30px;
}

.footer_logo {
	font-family: 'Ribeye', cursive;
	font-size: 24px;
	line-height: 36px;
	letter-spacing: 0.06em;
	margin-bottom: 40px;
}

.footer_title {
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.06em;
}

.footer__linck {
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.06em;
	margin: 10px 0 20px 0;
	display: block;
}

.footer__social {
	display: flex;
	justify-content: space-around;
}

.footer__social li:not(:first-child) {
	margin-left: 27px;
}

.footer__list li a {
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.06em;
}
.footer__list li:not(:last-child) {
	margin-bottom: 20px;
}

.footer__subscribe-title {
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.06em;
	margin-bottom: 42px;
}

.footer__form {
	width: 333px;
	display: flex;
	justify-content: space-between;
}

.input-email {
	width: 195px;
	border: 1px solid #00000010;
	box-shadow: 0px 0px 10px 1px #00000026;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	padding: 10px 20px;
	padding: 10px 32px 10px 32px;
}

.footer__btn {
	padding: 10px 32px 10px 32px;
}
